* {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

li {
  display: flex;
  gap: 5px;
}